<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
body {
    
	background-image:url(../image/bg_show.jpg);
}

td {
	font-size: 9pt;	color: #000000;
}
.style1 {
	color: #FF9900;
	font-weight: bold;
}


-->